@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "MOSCOW2024";
    src: url("/public/fonts/MOSCOW2024.otf");
    font-weight: normal;
}

.button {
    @apply btn h-12  border-accent text-accent hover:shadow-xl focus:outline-none;
}

.button-outline {
    @apply button btn-outline hover:bg-accent;
    @apply bg-background;
}

.button-filled {
    @apply button;
    @apply bg-accent text-background hover:bg-background hover:text-accent hover:border-accent;
}

html, body, #root {
    min-height: 100vh;
    height: fit-content;
}
